<h1 style="text-align: center;" >Public Sector Salary Disclosure for 2014: Universities</h1>
<p style="text-align: center;">
  <a  href="http://www.fin.gov.on.ca/en/publications/salarydisclosure/pssd/orgs-tbs.php?organization=universities&year=2014">Data Source</a>
</p>

<p style="text-align: center">
  by <strong>Eduardo Poleo</strong>
</p>

<div style="text-align: center;">
    <%= form_tag() do %>
      <%= radio_button_tag(:average, "all_salaries", true, class: 'choice') %>
      <%= label_tag(:average_all_salaries, "All Salaries") %>
      <%= radio_button_tag(:average, "professors_only", false,  class: 'choice') %>
      <%= label_tag(:average_professors_only, "Professors Only") %>
      <%= radio_button_tag(:average, "administrative_staff", false, class: 'choice') %>
      <%= label_tag(:average_administrative_staff, "Administrative Staff") %>
    <% end %>
</div>


<style>

.graph{
  display: block;
  margin: auto;
  margin-top: 50px;
}

.tick text{
  fill: black;
  font: 15px sans-serif;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

</style>
